@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portal Presensi Student Staff Perpustakaan UAJY</h1>
    <p>Kunjungi<a href="https://lib.uajy.ac.id/"> Website Resmi Perpustakaan UAJY</a>.</p>
</div>
